
spotify_appkey.key

Restify.opensdf
Restify.sdf

Debug/*
Release/*

Restify.Server/bin/*
Restify.Server/obj/*

Restify.Spotify/Debug/*
Restify.Spotify/Release/*
Restify.Spotify/*.user

*.suo

Restify.Server/*.csproj.user

Testify/bin/*
Testify/obj/*
Testify/*.csproj.user

_ReSharper.*/*
*.ReSharper.user
*/bin/*
*/obj/*
*/*.csproj.user