
Restify.opensdf
Restify.sdf
Debug/*
Restify.Server/bin/*
Restify.Server/obj/*
Restify.Spotify/Debug/*
Restify.Spotify/*.user
*.suo
Restify.Server/spotify_appkey.key
Restify.Server/*.csproj.user
Testify/bin/*
Testify/obj/*
Testify/*.csproj.user