
# ignore external sensitive data
spotify_appkey.key
spotify_user

# ignore IntelliSense database
Restify.opensdf
Restify.sdf

# ignore built outputs from these directories
Debug/*
Release/*
*/Debug/*
*/Release/*
*/bin/*
*/obj/*

# ignore project user settings
*.suo
*/*.csproj.user
*/*.vcxproj.user

# ignore ReSharper
_ReSharper.*/*
*.ReSharper.user


TestResults/*